.wrapper

    .header
      .header-pcHeader
        .header--pcHeader___headerInner
          .headerInner-mainHeader
            .mainHeader-icon
            .mainHeader-searchBox
          .headerInner-nav
            %ul.headerInner-listsLeft
              %li.listsLeft-category
              %li.listsleft-brand
            %ul.headerInner-listsRight
              %li.listsRight-login
              %li.listsRight-SignUp
    
    .breadCrumbs
      %ul.breadCrumbs-lists
        %li.lists-first
        %li.lists-second
        %li.lists-third
        %li.lists-forth
        %li.lists-fifth

    .main 
      .main__content
        .main__content-image
          .content-image-left
          .content-image-center
          .content-image-right
        .main__content-price
          .content-price-sellingPrice
          .content-price-tax
        .main__content-description
          .content-description-main
            .content-description-main-bottom
              .bottom-seller
                %li.seller
                %li.name
              .bottom-category
                %li.categories
                %li.category
              .bottom-brand
                %li.brands
                %li.brand
              .bottom-size
                %li.sizes
                %li.size
              .bottom-status
                %li.statuses
                %li.status
              .bottom-shippingDetails
                %li.shippings
                %li.shipping
              .bottom-prefecture
                %li.prefectures
                %li.prefecture
              .bottom-shippingDays
                %li.shippingDays
                %li.shippingDays
            .content-description-main-favorite
            .content-description-main-report
          
      .main__comment
        .main__comment-commentBox
        .main__comment-commentExplanation
        .main__comment-commentButton

      .main__product-function
        .function-goFront
        .function-goBack
        .function-goDetails
      
      .main__bottom-image
        .bottom-image
          .main-image-letter
          .main-image-AppStore
          .main-image-GooglePlay


      .footer
        .footer__main
          .footer__main-content
            %li.about
            %li.company
            %li.PrivacyPolicy
            %li.TermsOfService
            %li.point
          .footer__main-content
            %li.show
            %li.ShowCategory
            %li.ShowBrand
          .footer__main-content
            %li.HelpGuide
            %li.guide
            %li.logoGuide
            %li.news
        .footer__main-logo
